@import "materialize/components/color";
$primary-color: color("grey", "darken-4") !default;
$secondary-color: color("grey", "darken-4") !default;
@import 'materialize';

.comments {
  overflow: scroll;
  height: 300px;
}

.question {
  height: 350px;
  margin: 30px 0px 30px 0px
}
